<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/scripts/jquery-3.1.1-.min.js"></script>
    <script src=js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastrar cliente</title>
</head>
<body>
<div class="container">
    <h1>Página de cadastro de sensores</h1>
    <hr>
    <form action="{{ url_for("cadastroSensor") }}" method="POST">
        <div class="form-group">
            <label for="id">Identificador:</label>
            <input type="text" class="form-control" name="id">
            <label for="tipo">Tipo:</label>
            <input type="text" class="form-control" name="tipo">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="{{ url_for("index") }}">Retornar à home</a>
</div>
</body>
</html>
